<h1>liste des articles</h1>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Image</td>

    </tr>
    {% for femme in femmes %}
    <tr>
        <td>{{ femme.name }}</td>
        <td>{{ femme.price }}</td>
        <td>{{ femme.quantity }}</td>
        <td><img src="{{ femme.image }}" height="150px" width="150px"></td>
        <td>
            <ul>
                <li>
                    {#<a href="{{ path('addfemme', {'id':article.id})}}">femme</a>#}
                </li>
                <li>
                    <a href="#">modifier</a>
                </li>
                <li>
                    {#<a href="{{ path('supprimer', {'id':article.id})}}">supprimer</a>#}
                </li>
            </ul>
        </td>

    </tr>
    {% endfor %}
</table>